﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Adm_zamowienia.aspx.cs" Inherits="SerwisProj.Adm_zamowienia" Async="True" MasterPageFile="~/Admin.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server"> 
    <div id="admZam">
        <br />
    <label><asp:Label ID="Label1" runat="server" Text="Nazwa klienta"></asp:Label></label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label><asp:Label ID="Label3" runat="server" Text="Usluga"></asp:Label></label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label><asp:Label ID="Label4" runat="server" Text="Data zamowienia"></asp:Label></label>
    <br />
        <br />
    
    <asp:Table ID="Table1" runat="server" BorderStyle="Ridge">
    </asp:Table>
        <br />
    <asp:Button ID="Button1" runat="server" Text="Wyloguj sie" 
        onclick="Button1_Click" class="logOutBtn"/>
    </div>
</asp:Content>


