﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Adm_produkty.aspx.cs" Inherits="SerwisProj.Adm_produkty" MasterPageFile="~/Admin.master"%>


<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server">
    <div id="uslugi">
        <br />
            <asp:Table ID="offerTable" runat="server" BorderStyle="Ridge">
            </asp:Table>
    <br />
    <br />
    <h1>Wprowadz nową usługę:</h1>


    <div>
        <p>
            <label><asp:Label ID="Label1" runat="server" Text="Nazwa"></asp:Label></label>
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        </p>
    </div>
    <div>
        <p>
            <label><asp:Label ID="Label3" runat="server" Text="Cena"></asp:Label></label>
            <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
        </p>
    </div>

    <asp:Button ID="Button2" runat="server" onclick="Button2_Click"  
        Text="Nowa usluga" class="addOrderBtn" />
<br />
        <br /><br />
        <asp:Button ID="Button1" runat="server" onclick="Button1_Click" 
            Text="Wyloguj się" class="logOutBtn" />
        </div>

</asp:Content>
