﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Adm_usery.aspx.cs" Inherits="SerwisProj.Adm_usery" MasterPageFile="~/Admin.master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server">
    <div id="adm_user">
        <br />
<asp:Label ID="Label1" Width="100" runat="server" Text="E-Mail"></asp:Label>
        
    

    <asp:Label ID="Label2" Width="150" runat="server" Text="Nazwisko"></asp:Label>

    <asp:Label ID="Label3" Width="70" runat="server" Text="Imie"></asp:Label>

    <asp:Label ID="Label4" Width="50" runat="server" Text="Ulica"></asp:Label>

    <asp:Label ID="Label5" Width="25" runat="server" Text="Nr"></asp:Label>

    <asp:Label ID="Label6" Width="50" runat="server" Text="Miasto"></asp:Label>
        

    <asp:Label ID="Label15" Width="60" runat="server" Text="Państwo"></asp:Label>
        <asp:Label ID="Label7" Width="50" runat="server" Text="Login"></asp:Label>

    <asp:Label ID="Label16" Width="50" runat="server" Text="Typ"></asp:Label>
    <br />
    <asp:Table ID="Table1" BorderStyle="Ridge" runat="server" BorderWidth="1px">
</asp:Table>
    <br />
    <br />
            <asp:Label ID="Label12" Width="150" runat="server" Text="Login"></asp:Label>

    <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>
    <br />
    <asp:Label ID="Label13" Width="150" runat="server" Text="Haslo"></asp:Label>

    <asp:TextBox ID="TextBox6"  runat="server"></asp:TextBox>
    <br />
        <asp:Label ID="Label11" Width="150" runat="server" Text="E-Mail"></asp:Label>

    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    <br />
    <asp:Label ID="Label14" Width="150" runat="server" Text="Uprawnienia"></asp:Label>
    <asp:TextBox ID="TextBox7" runat="server"></asp:TextBox>
    <br />

    <asp:Label ID="Label9" Width="150" runat="server" Text="Nazwisko"></asp:Label>

    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
    <br />
    <asp:Label ID="Label10" Width="150" runat="server" Text="Imie"></asp:Label>

    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
    <br />
    
        <asp:Label ID="Label19" Width="150" runat="server" Text="Ulica"></asp:Label>
    <asp:TextBox ID="TextBox4"  runat="server"></asp:TextBox>
    <br />
    
        <asp:Label ID="Label18" Width="150" runat="server" Text="Nr"></asp:Label>
    <asp:TextBox ID="TextBox8"  runat="server"></asp:TextBox>
    <br />
    
        <asp:Label ID="Label17" Width="150" runat="server" Text="Miasto"></asp:Label>
    <asp:TextBox ID="TextBox10" runat="server"></asp:TextBox>
    <br />
        <asp:Label ID="Label8" Width="150" runat="server" Text="Państwo"></asp:Label>
    
    <asp:TextBox ID="TextBox9" runat="server"></asp:TextBox>
    <br />
    <asp:Button ID="Button6" runat="server" onclick="Button6_Click" 
        Text="Dodaj Nowego Uzytkownika" class="addOrderBtn"/>
    <br />
    <br />
    <br />
    <asp:Button ID="Button5" runat="server" Text="Wyloguj sie" 
        onclick="Button5_Click" class="logOutBtn"/>
    </div>
</asp:Content>
