﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Admin_Edit_Offer.aspx.cs" Inherits="SerwisProj.Admin_Edit_Offer" MasterPageFile="~/Admin.master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server">   
<div id="offerEdit">

    <br />
    <label><asp:TextBox ID="TextBox1" runat="server" Width="300"></asp:TextBox></label>
    <label><asp:TextBox ID="TextBox2" runat="server" Width="50"></asp:TextBox></label>
    <br />
    <br />
    <asp:Button ID="Button1" runat="server" Text="Zapisz" 
        onclick="btn_click" class="logOutBtn"/>


</div>

</asp:Content>
