﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DiagAdvNew.aspx.cs" Inherits="SerwisProj.DiagAdvNew"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <link href="main.css" rel="Stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="header">
	<p>
   </p>
</div>

<div id="subheader">
	<p>Serwis</p>
</div>



    </form>
</body>
</html>