﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Klient.master" CodeBehind="Klient.aspx.cs" Inherits="SerwisProj.Klient" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server">
<div id="klient">
    <br />
    <span runat="server" id="FooSpan"></span>
    
    
        &nbsp;
       <label> <asp:Label ID="Label1" runat="server" Text="Usługa"></asp:Label></label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label><asp:Label ID="Label3" runat="server" Text="Cena"></asp:Label></label>
        <br />
        <asp:Table ID="Table1" runat="server" BorderStyle="Ridge">
        </asp:Table>
        <br />
    
    
    
    
    <p>
        <asp:Button ID="Button1" runat="server" onclick="Button1_Click" 
            Text="Wyloguj się" class="logOutBtn"/>
    </p>

    </div>
</asp:Content>