﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Klient.master" CodeBehind="Klient_zam.aspx.cs" Inherits="SerwisProj.Klient_zam" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server">
    <div id="klientZam">
    <span runat="server" id="FooSpan"></span>
    <br />
    <br />
    
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <label> <asp:Label ID="Label1" runat="server" Text="Usługa"></asp:Label></label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <label> <asp:Label ID="Label2" runat="server" Text="Data"></asp:Label></label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
       <label> <asp:Label ID="Label3" runat="server" Text="Cena"></asp:Label></label>
        <br />
        <asp:Table ID="Table1" runat="server" BorderStyle="Ridge">
        </asp:Table>
        <br />
    </div>
    
    
    
    
    <p>
        <asp:Button ID="Button1" runat="server" onclick="Button1_Click" 
            Text="Wyloguj się" class="logOutBtn"/>
    </p>
        </div>
</asp:Content>


