﻿/* poodstawowa wersja  css */

body {
	background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
	margin:0;
}
#content{

}
#bg{
	width:100%;
	height:200px;
	background:url(images/header.jpg) no-repeat top ;
    border-bottom:5px solid #3ebdff;
    background-size:cover;
}
#center{
width:960px;
margin:auto;
font-size:14px;
}
#center li{
list-style-image: url('images/li.png');
padding:5px;
}
#MenuContentPlaceHolder1_Button3
{
	width:200px;
	height:45px;
	background:#00a8ff;
	border:0px;
	cursor:pointer;
        color:#fff;
    font-weight:bold;
	
}
a {
	color:#006633;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color:#006633;
	font-weight:bold;
	text-decoration:underline;
}


#header {
	width:100%;
	border-bottom: 1px solid black;
	color:#ffffff;
	text-align:right;
}
#header p {
	padding:5px;
	margin:0;
}
#header a {
	color:#FFFFFF;
	text-decoration:underline;
	font-weight:normal;
}
#header a:hover {
	color:#FFFFFF;
	text-decoration:none;
	font-weight:normal;
}
#subheader {
	background-color:#fff;
	color:#3b5522;
	width:960px;
	margin:auto;
	text-align:left;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size:2.5em;
	letter-spacing:-1px;
	height:100px;
	background: url(images/logo.png) no-repeat left;
	padding-top:90px;
    
}
#subheader p {
	padding:20px;
	margin:0;
}

#menu {
    background-color:#CACAAF;
	width:100%;
	text-align:left;
}
#menu p {
	padding-top:5px;
	padding-bottom:5px;
	margin:0;
}
#menu a {
	background-color:#B1B18B;
	border-top: 1px solid #ececcf;
	border-left: 1px solid #ececcf;
	border-bottom: 1px solid #86866b;
	border-right: 1px solid #86866b;
	height:100%;
	padding:5px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
#menu a:hover {
	background-color:#90906a;
	border-top: 1px solid #606049;
	border-left: 1px solid #606049;
	border-bottom: 1px solid #a2a28c;
	border-right: 1px solid #a2a28c;
	height:100%;
	padding:5px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
#container {
	width:100%;
	font-size:14px;
}
#left_column {
  width: 15em;
  float: left;
  clear: left;
  color:#FFFFFF;
}
#left_column h1 {
	background-color:#FFFFFF;
	font-size:14px;;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin:0;
	color:#003300;
	padding-left:4px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-weight:normal;
}
#left_column a {
	line-height:25px;
	color:#006633;
	text-decoration:none;
	display:block;
	padding-left:5px;
	border-top: 1px solid #AAD284;
	border-bottom: 1px solid #AAD284;
}
#left_column a:hover {
	line-height:25px;
	color:#ffffff;
	text-decoration:none;
	display:block;
	background-color:#A3D175;
	border-top: 1px solid #c5f397;
	border-bottom: 1px solid #81b053;
	padding-left:5px;
}
#left_column p {
	padding:5px;
}

#right_column {
	background-color: #EFF7E8;
	text-align: justify;
	line-height: 1.5em;
	margin: 0 0 0 15em;
	padding-right:25px;
	padding-left:25px;
	padding-top:10px;
	padding-bottom:10px;
	border-left: 1px solid #cccccc;
}
#right_column p {
	padding:10px;
}
#right_column h1 {
	background-color:#7F9966;
	border-top: 1px solid #9fbb88;
	border-left: 1px solid #9fbb88;
	border-bottom: 1px solid #5d7744;
	border-right: 1px solid #5d7744;
	color:#FFFFFF;
	padding:5px;
	font-weight:normal;
	font-size:140%;
}
#footer {
	background-color:#00a8ff;
	height:40px;
	width:960px;
	text-align:right;
	color:#FFFFFF;
	margin:auto;
}
#footer p {
	padding:10px;
	margin:0;
}
#footer a {
	color:#FFFFFF;
}

textarea {
	background-color:#7F9966;
	border-bottom: 1px solid #9fbb88;
	border-right: 1px solid #9fbb88;
	border-top: 1px solid #5d7744;
	border-left: 1px solid #5d7744;
	color:#FFFFFF;
}
submit {
	background-color:#7F9966;
	border-bottom: 1px solid #9fbb88;
	border-right: 1px solid #9fbb88;
	border-top: 1px solid #5d7744;
	border-left: 1px solid #5d7744;
	color:#FFFFFF;
}
acronym {
	font-variant:small-caps;
	cursor:help;
	letter-spacing:2px;
	font-weight:bold;
}










/*
    
STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    STYLE    
    
    
*/

#buttons_right {
    text-align:right;
    width:960px;
}


#MenuContentPlaceHolder1_Button1{
    width:200px;
	height:45px;
	background:#3ebdff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}


#MenuContentPlaceHolder1_Button2{
    width:200px;
	height:45px;
	background:#3ebdff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}

#MenuContentPlaceHolder1_wiadomosc{
    width:200px;
	height:45px;
	background:#3ebdff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}



#MenuContentPlaceHolder1_wiadomosc:hover{
    width:200px;
	height:45px;
	background:#56d7ff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}


#MenuContentPlaceHolder1_Button2:hover{
    width:200px;
	height:45px;
	background:#56d7ff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}

#MenuContentPlaceHolder1_Button1:hover{
    width:200px;
	height:45px;
	background:#56d7ff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}
#MenuContentPlaceHolder1_Button3:hover{
    width:200px;
	height:45px;
	background:#56d7ff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}

#yesno input {
    width:100px;
    height:25px;
    background:#3ebdff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;
}

#yesno input:active{
    background:red;

}

#yesno Label {
    min-height:50px;
}
#yesno p {


}

#register label {
    float:left;
    width:10%;
    line-height:1.7em;
}

#register p {
    height:30px;

}

#register p input{
    height:25px;
    border:1px solid #dfdfdf;
    width:300px;
}

#register #MenuContentPlaceHolder1_Button6{
    width:200px;
	height:45px;
	background:#3ebdff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}

#register #MenuContentPlaceHolder1_Button6:hover{
    width:200px;
	height:45px;
	background:#56d7ff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}

#MenuContentPlaceHolder1_acceptBtn{
    width:200px;
	height:45px;
	background:#3ebdff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}

#MenuContentPlaceHolder1_acceptBtn:hover{
    width:200px;
	height:45px;
	background:#56d7ff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}





/*
LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    LOGOWANIE    
*/

#login {
    padding-bottom:20px;
}




#login label {
    float:left;
    width:10%;
    line-height:1.7em;
}

#login p {
    height:30px;

}

#login p input{
    height:25px;
    border:1px solid #dfdfdf;
    width:300px;
}

#login #MenuContentPlaceHolder1_loginBtn{
    width:200px;
	height:45px;
	background:#3ebdff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}

#login #MenuContentPlaceHolder1_loginBtn:hover{
    width:200px;
	height:45px;
	background:#56d7ff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}

/* potwierdzenie */

#conf {
    padding-bottom:20px;
}




#conf label {
    line-height:1.7em;
}

#conf p {
    height:30px;

}

#conf p input{
    height:25px;
    border:1px solid #dfdfdf;
}

#conf #MenuContentPlaceHolder1_registerBtn{
    width:200px;
	height:45px;
	background:#3ebdff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}

#conf #MenuContentPlaceHolder1_registerBtn:hover{
    width:200px;
	height:45px;
	background:#56d7ff;
	border:0px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;

}

/* Klient master */

#klientMenu
{
    background:#3ebdff;
	height:45px;
	width:960px;
	text-align:left;
	color:#FFFFFF;
	margin:auto;
    border-bottom:5px solid #3ebdff;
    border-left:5px solid #3ebdff;
}

.menuBtn
{
    width: 180px;
    height: 45px;
    background: #3ebdff;
    border: 0px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;

}

.menuBtn:hover
{
    width:200px;
	height:45px;
	background:#56d7ff;
	border:0px;
	cursor:pointer;
    color:#fff;
}

/* klient nowe */


#klient {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#klient label
{
    font-weight:bold;
}

/* zamow button */
.zamBtn
{
    width: 150px;
    height: 30px;
    background: #3ebdff;
    border: 0px;
    cursor: pointer;
    color: #fff;
}

.zamBtn:hover
{
    width: 150px;
    height: 30px;
	background:#56d7ff;
	border:1px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;
}

td 
{ 
    border-bottom: 1px solid black;

}

/* klient zamowienia sprawdz*/

#klientZam {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#klientZam label
{
    font-weight:bold;
}

/** admin */
#admin {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#admin h1{
	font-size:25px;
    font-weight:bold;
}

#admin h2{
	font-size:20px;
}

#uslugi label {
    float:left;
    width:10%;
    line-height:1.7em;
}

#uslugi p {
    height:30px;

}

#uslugi p input{
    height:25px;
    border:1px solid #dfdfdf;
    width:300px;
}

#uslugi {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#uslugi h1{
	font-size:25px;
    font-weight:bold;
}

.logOutBtn
{
    width: 150px;
    height: 30px;
    background: #3ebdff;
    border: 0px;
    cursor: pointer;
    color: #fff;
}

.logOutBtn:hover
{
    width: 150px;
    height: 30px;
	background:#56d7ff;
	border:1px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;
}

.addOrderBtn
{
    width: 300px;
    height: 30px;
    background: #3ebdff;
    border: 0px;
    cursor: pointer;
    color: #fff;
}

.addOrderBtn:hover
{
    width: 300px;
    height: 30px;
	background:#56d7ff;
	border:1px;
	cursor:pointer;
    color:#fff;
    font-weight:bold;
}

#offerEdit label
{
    float: left;
    width: 300px;
    line-height: 1.7em;
}

#offerEdit p input{
    font-size:14px;
    border:1px solid #dfdfdf;
    width:300px;
}

#offerEdit {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#admZam {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#admZam label
{
    font-weight:bold;
}

#send_mail {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#send_mail label
{
    float:left;
    line-height:1.7em;
}

#login p input{
    height:25px;
    border:1px solid #dfdfdf;
    width:300px;
}

#adm_user {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#adm_user label
{
    float:left;
    line-height:1.7em;
}

#editUser label {
    float:left;
    width:10%;
    line-height:1.7em;
}

#editUser p {
    height:30px;

}

#editUser p input{
    height:25px;
    border:1px solid #dfdfdf;
    width:300px;
}

#editUser {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#editUser label {
    float:left;
    width:10%;
    line-height:1.7em;
}

#editUser p {
    height:30px;

}

#editUser p input{
    height:25px;
    border:1px solid #dfdfdf;
    width:300px;
}

#admMsg {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#admMsg label {
    float:left;
    width:10%;
    line-height:1.7em;
}

#admMsg p {
    height:30px;

}

#admMsg p input{
    height:25px;
    border:1px solid #dfdfdf;
    width:300px;
}

#msg {
    padding-bottom:20px;
    margin:auto;
    width:960px;
	text-align:left;
    background-color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}

#msg label {
    float:left;
    width:10%;
    line-height:1.7em;
}

#msg p {
    height:30px;

}

#msg p input{
    height:25px;
    border:1px solid #dfdfdf;
    width:300px;
}