﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="SerwisProj.MasterPage" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <link href="main.css" rel="Stylesheet" type="text/css" />
    <title></title>
    <script type='text/javascript'>
    //<![CDATA[
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51560871-1', 'somee.com');
        ga('send', 'pageview');
    //]]>
    </script>
</head>
<body>
    <div id="content">
        

    
    <form id="form1" runat="server">
    <div id="header">

</div>

<div id="bg">
    <a href="Default.aspx">
<div id="subheader">
	<p></p>
</div>
        </a>
</div>

<div id="center">


<div id="menu">
</div>

    <div>
        <asp:ContentPlaceHolder id="MenuContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </div>
    <div id="footer">
	    <p>Projekt z programowania aplikacji webowych: Damian Grzesiak, Marcin Gąsiorek, Tomasz Duda, Przemysław Adamus<a href="#"/>
        </p>
    </div>
    </form>
    </div>
</body>

</html>