﻿<%@ Page Language="C#" AutoEventWireup="true" Async="True" CodeBehind="Msg.aspx.cs" Inherits="SerwisProj.Msg" MasterPageFile="~/MasterPage.master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server">
    <div id="msg">
        <br />
    <p>
        <asp:Label ID="msg_label" runat="server" Text="Wprowadz swój problem"></asp:Label>
    </p>
    <p>   
        <asp:TextBox ID="msgs_box" runat="server" Width="600px"></asp:TextBox>    
    </p>
        <p>
        <asp:Label ID="emailFrom" runat="server" Text="Podaj email zwrotny"></asp:Label>
    </p>
    <p>   
        <asp:TextBox ID="emailFromTB" runat="server" Width="600px"></asp:TextBox>    
    </p>
    <p>        
        <asp:Button ID="send_btn" runat="server" Text="Wyślij" 
            onclick="send_btn_Click" class="logOutBtn"/>        
    </p>
        </div>
</asp:Content>