﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Potwierdz.aspx.cs" Inherits="SerwisProj.Potwierdz" MasterPageFile="~/MasterPage.master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server">
    <div id="conf">
        <p>
            <label><asp:Label ID="potwierdzzLabel" runat="server" Text="Wprowadź tekst z maila."></asp:Label>     </label>
            <br />
            <br />
            <asp:TextBox ID="confirmText" runat="server"></asp:TextBox>
        </p>
        <br />
        <br />
            <asp:Button ID="registerBtn" runat="server" onclick="confirmBtn"  
                Text="Potwierdź" />
        <br />
        <br />
    </div>
</asp:Content>
