﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPage.master" CodeBehind="Register.aspx.cs" Inherits="SerwisProj.Register" Async="True"%>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server">
    <br />
    <div id="register">
        <p>
        <label><asp:Label ID="Label12" runat="server" Text="Login"></asp:Label></label>
         
        <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>
        </p>
        <p>
        <label><asp:Label ID="Label13" runat="server" TextMode="password" Text="Hasło"></asp:Label></label>
        
        <asp:TextBox ID="TextBox6" runat="server"></asp:TextBox>
        </p>
    <p>
    <label> <asp:Label ID="Label150" runat="server" Text="E - mail"></asp:Label></label>          <asp:TextBox ID="TextBox7" runat="server"></asp:TextBox>
        </p>
      
    <p>
    <label><asp:Label ID="Label9" runat="server" Text="Nazwisko"></asp:Label></asp:Label></label>
   
    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
    </p>
    <p>
    <label><asp:Label ID="Label10" runat="server" Text="Imię"></asp:Label></label>
         
    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
    </p>
    <p>
    <label> <asp:Label runat="server" Text="Ulica"></asp:Label></label>
    <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
    </p>
    <p>
    <label> <asp:Label runat="server" Text="Nr"></asp:Label></label>           
    <asp:TextBox ID="TextBox8" runat="server"></asp:TextBox>
    </p>
    <p>
    <label><asp:Label runat="server" Text="Miasto"></asp:Label></label>         
    <asp:TextBox ID="TextBox10" runat="server"></asp:TextBox>
    </p>
    <p>
    <label><asp:Label runat="server" Text="Państwo"></asp:Label>     </label>
        <asp:TextBox ID="TextBox9" runat="server"></asp:TextBox>
    </p>
    <asp:Button ID="Button6" runat="server" onclick="Button6_Click" 
        Text="Rejestracja" />
                    
    <br />
    <br />
    <br />
    </div>
    </asp:Content>
