﻿<%@ Page Language="C#" AutoEventWireup="true" Async="True" CodeBehind="send_mail.aspx.cs" Inherits="SerwisProj.send_mail" MasterPageFile="~/Admin.master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server">   
<div id="send_mail">

    <br />
    <label><asp:Label ID="Label1" runat="server" Width="100" Text="Do: "></asp:Label></label>
    <label><asp:TextBox ID="TextBox2" runat="server" Width="800"></asp:TextBox></label>
    <br />
    <br />
    <label><asp:Label ID="Label3" runat="server" Width="100" Text="Tytuł: "></asp:Label></label>
    <label><asp:TextBox ID="TextBox3" runat="server" Width="800"></asp:TextBox></label>
    <br />
    <br />
    <label><asp:Label ID="Label2" runat="server" Width="100" Text="Wiadomość: "></asp:Label></label>
    <br />
    <label><asp:TextBox ID="TextBox1" runat="server" Width="800" Height="400" TextMode="MultiLine" BackColor="White" ForeColor="Black" BorderStyle="Solid"
        BorderWidth="3" BorderColor="Black"></asp:TextBox></label>
    <br />
    <br />
    <asp:Button ID="Button1" runat="server" Text="Wyślij" 
        onclick="btn_Click" class="logOutBtn"/>
    <br />
    <br />


</div>

</asp:Content>
