﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Adm_usery.aspx.cs" Inherits="SerwisProj.Adm_usery" MasterPageFile="~/Admin.master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server">
    <asp:Label ID="Label1" runat="server" Text="Nazwa"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label ID="Label2" runat="server" Text="Nazwisko"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label ID="Label3" runat="server" Text="Imie"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label ID="Label4" runat="server" Text="Ulica"></asp:Label>
&nbsp;
    <asp:Label ID="Label5" runat="server" Text="Nr"></asp:Label>
&nbsp;
    <asp:Label ID="Label6" runat="server" Text="Miasto"></asp:Label>
     &nbsp;
    <asp:Label ID="Label15" runat="server" Text="Państwo"></asp:Label>
     &nbsp;
    <asp:Label ID="Label7" runat="server" Text="Login"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label ID="Label11" runat="server" Text="Haslo"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label ID="Label16" runat="server" Text="Typ"></asp:Label>
    <br />
    <asp:Table ID="Table1" runat="server" BorderWidth="1px">
</asp:Table>
    <br />
    <br />
    <asp:Label ID="Label8" runat="server" Text="Nazwa"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="TextBox1" runat="server" ></asp:TextBox>
    <br />
    <asp:Label ID="Label9" runat="server" Text="Nazwisko"></asp:Label>
&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
    <br />
    <asp:Label ID="Label10" runat="server" Text="Imie"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
    <br />
    Ulica&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
    <br />
    Nr&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="TextBox8" runat="server"></asp:TextBox>
    <br />
    Miasto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <asp:TextBox ID="TextBox10" runat="server"></asp:TextBox>
    <br />
    Państwo&nbsp;&nbsp;&nbsp;&nbsp; 
    <asp:TextBox ID="TextBox9" runat="server"></asp:TextBox>
    <br />
    <asp:Label ID="Label12" runat="server" Text="Login"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>
    <br />
    <asp:Label ID="Label13" runat="server" Text="Haslo"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox ID="TextBox6" runat="server"></asp:TextBox>
    <br />
    <asp:Label ID="Label14" runat="server" Text="Uprawnienia"></asp:Label>
    <asp:TextBox ID="TextBox7" runat="server"></asp:TextBox>
    <br />
    <asp:Button ID="Button6" runat="server" onclick="Button6_Click" 
        Text="Dodaj Nowego Uzytkownika" />
    <br />
    <br />
    <br />
    <asp:Button ID="Button5" runat="server" Text="Wyloguj sie" 
        onclick="Button5_Click" />
    
</asp:Content>
