﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Adm_zamowienia.aspx.cs" Inherits="SerwisProj.Adm_zamowienia" MasterPageFile="~/Admin.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MenuContentPlaceHolder1" Runat="Server"> 
    <asp:Label ID="Label1" runat="server" Text="Nazwa klienta"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label ID="Label3" runat="server" Text="Usluga"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label ID="Label4" runat="server" Text="Data zamowienia"></asp:Label>
    <br />
    
    <asp:Table ID="Table1" runat="server" BorderWidth="1px" CellPadding="1" 
        CellSpacing="1">
    </asp:Table>
    <asp:Button ID="Button1" runat="server" Text="Wyloguj sie" 
        onclick="Button1_Click" />
    
</asp:Content>


