﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="SerwisProj.Admin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <link href="main.css" rel="Stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="header">
	<p>
        </a>
   </p>
</div>

<div id="subheader">
	<p>Hurtownia</p>
</div>

<div id="menu">
	<!--<asp:Button ID="Button1" runat="server" Text="Producenci" onclick="Button1_Click" /> -->
    <asp:Button ID="Button2" runat="server" Text="Uslugi" 
        onclick="Button2_Click"/>
    <asp:Button ID="Button3" runat="server" onclick="Button3_Click" 
        Text="Zamowienia" />
    <asp:Button ID="Button4" runat="server" Text="Uzytkownicy" 
        onclick="Button4_Click"/>
    <asp:Button ID="Button5" runat="server" Text="Wiadomości" 
        onclick="Button5_Click" />
</div>

    <div>
        <asp:ContentPlaceHolder id="MenuContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>

    <div id="footer">
	    <p>Projekt z programowania aplikacji webowych: Damian Grzesiak, Marcin Gąsiorek, Tomasz Duda, Przemysław Adamus<a href="#"/>
        </p>
    </div>
    </form>
</body>
</html>
